.container
  .mb20.pull-left
    当前位置：
    %a{href: ""} 美房网
    \>
    %a{href: ""} 漳州房产
    \>
    %a 漳州新房
    \>
    %a.cl 楼盘列表
  .pull-left
    .panel.panel-primary.prlistl{style: "margin:0; width:900px;"}
      .panel-heading{style: "background:#2db8ad"}
        %h3.panel-title.cw 快速搜索
      .panel-body
        %p.f14
          %strong 区域：
          %a{href: "#", style: "color:#f65c52"}
            %strong 全部
          %a.text-muted{href: "#"} 芗城区
          %a.text-muted{href: "#"} 龙文区
        %p.f14
          %strong 价格：
          %a{href: "#", style: "color:#f65c52"}
            %strong 不限
          %a.text-muted{href: "#"} 3000-4000
        %p.f14
          %strong 面积：
          %a{href: "#", style: "color:#f65c52"}
            %strong 不限
          %a.text-muted{href: "#"} 50m²以下
    .prlist2
      %ul#myTab.nav.nav-tabs.mb5{style: "border-bottom: 1px solid #2db8ad;"}
        %li.active{style: "border-bottom: 1px solid #2db8ad;"}
          %a{"data-toggle" => "tab", href: "#d_hot"} 全部
        %li{style: "border-bottom: 1px solid #2db8ad;"}
          %a{"data-toggle" => "tab", href: "#lou"} 热推
        %li{style: "border-bottom: 1px solid #2db8ad;"}
          %a{"data-toggle" => "tab", href: "#w_new"} 即将开盘
        %li{style: "border-bottom: 1px solid #2db8ad;"}
          %a{"data-toggle" => "tab", href: "#w_new"} 优惠促销
        %li{style: "border-bottom: 1px solid #2db8ad;"}
          %a{"data-toggle" => "tab", href: "#w_new"} 已售完
        %li{style: "border-bottom: 1px solid #2db8ad;"}
          %a{"data-toggle" => "tab", href: "#w_new"} 地图找房
      #myTabContent.tab-content
        #d_hot.tab-pane.fade.active.in
          %table{width: "900px;"}
            %tr
              %td
                .btn-toolbar
                  .btn-group
                    %a.btn{href: "#"}
                      时间
                      %i.icon-arrow-down
                    %a.btn{href: "#"}
                      价格
                      %i.icon-arrow-down
                    %a.btn{href: "#"}
                      点击
                      %i.icon-arrow-down
                    %a.btn{href: "#"}
                      评分
                      %i.icon-arrow-down
                    %a.btn{href: "#"}
                      开盘时间
                      %i.icon-arrow-down
              %td{align: "right"}
                共有
                %span.cr> 259
                个楼盘
          - @new_homes.each do |new_home|
            = render new_home

          .fenye
            .pagination.pull-right{style: "margin-top:0px;"}
              = will_paginate
        #lou.tab-pane.fade
        #w_new.tab-pane.fade
  .pull-left.ml20
    %div{style: "width:240px; height:500px; background:#CCC"}
/ con end
