- provide(:title, '厦门房产资讯')
.container
  .mb20.pull-left
    当前位置：
    = render_breadcrumbs
  .clearfix
  .pull-left{ style: "width: 900px;" }
    - @information.each do |information|
      = render information
    .fenye
      .pagination.pull-right{style: "margin-top:0px;"}
        = will_paginate
  = render "right"
/ con end
