.container
  .mb20.pull-left
    当前位置：
    %a{href: ""} 馨窝网
    \>
    %a.cl 关于我们
  .clearfix
  .about-left{style: "width:200px;"}
    %table.table.table-hover
      %tr
        %th
          %a.pl10{href: "#about"} 关于我们
      %tr
        %th
          %a.pl10{href: "#con"} 联系我们
      %tr
        %th
          %a.pl10{href: "#join"} 招聘信息
      %tr
        %th
          %a.pl10{href: "#law"} 法律声明
  .about-right
    %div{style: "width:900px;"}
      %a{name: "about"}
      %h3.cl 关于我们
      %p
            
        【馨窝网】隶属于三岁文化传媒，创始于广东地区，由知名投资人士张蓓莉女士领衔众多投资机构于2008年创建。
      %p
            
        凭借在广州、深圳多年运营房产媒体累积的经验，综合运用QQ、微博、微信等新媒体工具及各大平台大数据，结合专业的房地产网站，【馨窝网】在房地产网络媒体行业内率先实现快速、立体全网引流直至用户平台转化，获得购房用户及业内人士的一致好评！
      %p
            
        2014年，【馨窝网】再次改版进军福建地区，以全新的域名（www.xinwowang.com）和界面重装再出发。网站落地后，将利用自身在新媒体运营方面的经验，快速实现本网在当地网络人群中的覆盖，在购房者和开发商之间搭建置业桥梁，更快、更好的为购房者获取购房优惠及利益。
      %p
            
        2014年，【馨窝网】同时向全国各地展开招商。我们输出的，不仅仅有平台，还有行业内最优秀的运营模式和经验，确保加盟方在最短的时间内产生良好的收益。
      %p
            
        全新改版的【馨窝网】以"本地化房产团购、电商门户"为主定位，秉持"创新、效率"的核心价值观，紧跟房地产及互联网行业发展，接纳地气、锐意进取，通过将专业房地产网站平台与新兴互联网工具全面结合的方式，将成为全国领先的房产团购、电商门户网站。
      %a{name: "con"}
      %h3.cl 联系我们
      %p
        三岁文化传媒
        全国统一客服热线：400-0858-360
        %br/
        如果您想成为我们的工作伙伴，请联系邮箱：hr@xinwowang.com
        %br/
        如果您想与我们进行商务合作，请联系邮箱：ad@xinwowang.com
      %a{name: "join"}
      %h3.cl 招聘信息
      %p
        一、招聘职位：市场经理（业务外勤）
        %br/
        要求：
        %br/
        1、有驾照
        %br/
        2、有较强的亲和力，乐于与人交往；
        %br/
        3、熟悉互联网，有媒体相关工作经验优先；
        %br/
        4、有较强的抗压能力，吃苦耐劳。
        %br/
        5、良好的业务洽谈能力和沟通技巧，思路清晰，学习能力强，有良好的观察和分析能力；
      %p
        二、招聘职位：新闻采编（新闻记者）
        %br/
        要求：
        %br/
        1、新闻或中文相关专业，大专以上学历；
        %br/
        2、熟悉网页三剑客（PS、flash、DW）的使用；
        %br/
        3、具备良好的团队精神。
      %p
        三、招聘职位：人事行政
        %br/
        要求：
        %br/
        1、大专及以上学历，一年以上行政人事相关工作经验。
        %br/
        2、年龄20—30岁，坦诚开朗，亲和力强，形象气质佳。
        %br/
      %p *福利待遇：五天工作制、国家法定节假日放假、五险、过节费、相关补贴
      %p *全国统一服务热线：400-0858-360
      %p
        *如果您想成为我们的工作伙伴，请联系邮箱：hr@xinwowang.com
        %br/
      %a{name: "law"}
      %h3.cl 法律声明
      %p 三岁传媒版权所有