// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #fff;
/*底部导航*/
.newnavb {
  background: #2db8ad;
  height: 36px;
  color: #60eadf;
  min-width: 1170px;
  width: 100%;
  font-weight: bolder;
  font-size: 14px;
  line-height: 36px;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  _position: absolute;
  /* for IE6 */
  _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
  /* for IE6 */
  overflow: visible;
  a {
    font-size: 12px;
    line-height: 36px;
    padding-right: 32px;
    padding-left: 32px;
    color: #FFF;
  }
}
/*end*/
/* 左侧楼盘推荐 */

.J_MenuItem .lists {
  width: 214px;
  height: 40px;
  overflow: hidden;
}

.catList .title {
  width: 214px;
  background: url(asset_path("icon_switch.gif")) no-repeat 196px 0;
  cursor: pointer;
}

.J_MenuItem .lists .inner {
  width: 214px;
  margin-left: 10px;
  line-height: 20px;
  line-height: 20px;
  overflow: hidden;
  a {
    display: block;
    margin-right: 12px;
    float: left;
    color: #666;
    line-height: 20px;
    white-space: nowrap;
  }
}

.mallCategory {
  position: relative;
  width: 222px;
  background: #fff;
  .catList {
    z-index: 9999;
  }
  .border {
    width: 222px;
    height: 73px;
    border: 2px solid #2db8ad;
    position: absolute;
    top: 370px;
    z-index: 14;
    display: none;
    .mask-top {
      width: 220px;
      height: 39px;
      border-right: solid 4px #FFF;
    }
    .mask-bottom {
      width: 220px;
      height: 34px;
      border-right: solid 4px #FFF;
    }
    li {
      list-style-type: none;
    }
  }
}

.catList li {
  overflow: hidden;
  padding-left: 1px;
  height: 73px;
  border-color: #FFF #FFF #e5e5e5 #FFF;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-bottom: 1px solid #c3cde7;
  padding-bottom: 3px;
}

.cat-subcategory {
  position: absolute;
  top: 29px;
  left: 224px;
  z-index: 10;
  width: 457px;
  border: 2px solid #2db8ad;
  background: #fff;
  display: none;
}

.shadow {
  position: relative;
  a {
    color: #666;
    &:hover {
      color: #666;
    }
  }
}

.shadow-left {
  float: left;
  display: inline;
  width: 232px;
  min-height: 100px;
  _height: 100px;
  li {
    float: left;
    margin-top: 12px;
    padding-bottom: 10px;
    width: 220px;
    background: url(asset_path("listbg.gif")) left bottom no-repeat;
    line-height: 24px;
    list-style-type: none;
    a {
      display: inline-block;
      margin-right: 19px;
      white-space: nowrap;
    }
  }
}

.shadow-right {
  float: right;
  display: inline;
  padding: 12px 0 0 18px;
  width: 164px;
  dt {
    background: 0;
    height: 30px;
    b {
      font-size: 12px;
      font-weight: bold;
      color: #1D1D1E;
    }
  }
  a {
    float: left;
    margin: 4px 9px 4px -9px;
    padding: 0 8px;
    height: 15px;
    border-left: 1px solid #eee;
    white-space: nowrap;
    line-height: 15px;
  }
  dd {
    overflow: hidden;
    width: 164px;
  }
}

.entity-main {
  overflow: hidden;
  padding: 0 0 0 39px;
  height: 100%;
  background: url(asset_path("listbg2.gif")) right top repeat-y;
}

/*首页 */

/*left nav*/

.left_area {
  float: left;
  width: 240px;
}

.left_area1 {
  width: 214px;
  padding: 12px;
  border: 1px solid #CBCBCB;
}

.newhousedig {
  width: 214px;
  height: 500px;
  overflow: hidden;
  .title {
    width: 214px;
    background: url(asset_path("icon_switch.gif")) no-repeat 196px 0;
    cursor: pointer;
  }
  .title_active {
    background-position: 196px -20px;
  }
  .lists {
    width: 214px;
    height: 20px;
    overflow: hidden;
    .inner {
      width: 214px;
      line-height: 20px;
      line-height: 20px;
      overflow: hidden;
      a {
        display: block;
        margin-right: 12px;
        float: left;
        line-height: 20px;
        white-space: nowrap;
      }
    }
  }
}
.seperate_line3 {
  width: 214px;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
  background: url(asset_path("i_dot.gif")) 0 0px;
  margin: 8px 0 10px;
}

/*左右滚轮特效stats*/

.imageRotation {
  height: 270px;
  width: 462px;
  overflow: hidden;
  /*--超出容器的所有元素都不可见--*/
  position: relative;
  /*--相对定位--*/
}

/*-------------图片容器---------------*/

.imageBox {
  position: absolute;
  /*--固定定位--*/
  height: 270px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  img {
    display: block;
    height: 270px;
    width: 462px;
    float: left;
    border: none;
  }
}

/*-------------标题容器---------------*/

.titleBox {
  position: absolute;
  bottom: 0px;
  width: 462px;
  height: 40px;
  overflow: hidden;
  p {
    font-size:16px;
    font-weight:bolder;
    position: absolute;
    bottom: -40px;
    width: 462px;
    height: 40px;
    margin: 0px;
    padding: 0px 10px;
    line-height: 40px;
    z-index: 1;
    background-color: #000;
    color: #fff;
    font-family: "微软雅黑","yahei";
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    filter: alpha(opacity = 50);
    span {
      opacity: 1;
      -moz-opacity: 1;
      -webkit-opacity: 1;
      filter: alpha(opacity = 100);
    }
    &.active {
      bottom: 0px;
    }
  }
}

/*-------------图标容器---------------*/

.icoBox {
  position: absolute;
  /*--固定定位--*/
  bottom: 14px;
  right: 15px;
  width: 76px;
  height: 12px;
  text-align: center;
  line-height: 40px;
  z-index: 2;
  span {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 3px;
    overflow: hidden;
    background: url(asset_path("ico.png")) 0px 0px no-repeat;
    cursor: pointer;
    &.active {
      background-position: 0px -12px;
      cursor: default;
    }
  }
}
/*左右滚轮特效end*/
/* 左侧菜单 */
.areaa {
  color: #2db8ad;
  padding-right: 20px;
  float: left;
}

.areab {
  color: #2db8ad;
  padding-right: 15px;
  float: left;
}

.selectS {
	width: 120px;
	height: 28px;
  font-size: 12px
}

/*楼盘速递*/
.l_new2 {
  h4 {
    font-size: 16px;
    color: #f65c52;
    line-height: 150%;
  }
  a {
    font-size: 14px;
    line-height: 30px;
  }
  ul li {
    list-style-type: disc;
    font-size: 9px;
  }
}

.l_new3 {
  display: inline;
  margin-left: 10px;
  a {
    font-size: 14px;
    line-height: 30px;
  }
  .tab-pane ul li {
    font-size: 9px;
  }
}

/*楼市观点*/

.loushiguandian {
  width: 270px;
  float: left;
  margin: 0px 10px 0px 10px;
  h4 {
    font-size: 14px;
    color: #f65c52;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

/*楼盘评测*/
.lou_test {
  h4 {
    font-size: 16px;
    color: #f65c52;
  }
  li {
    font-size: 14px;
    line-height: 250%;
    margin-left: 5px;
  }
}
/*地产圈*/
.dcq {
  li {
    font-size: 16px;
    line-height: 200%;
    margin-left: 5px;
  }
  h4 {
    font-size: 16px;
    color: #f65c52;
  }
}

	/*名人堂图片滚动*/
.blk_18 {
  overflow: hidden;
  zoom: 1;
  font-size: 9pt;
  border: 1px solid #e3e3e3;
  background: #eee;
  width: 897px;
  margin-top: 8px;
  .pcont {
    width: 840px;
    float: left;
    overflow: hidden;
    padding-left: 5px;
  }
  .ScrCont {
    width: 32766px;
    zoom: 1;
    margin-left: -5px;
  }
  #List1_1, #List2_1 {
    float: left;
  }
  .LeftBotton, .RightBotton {
    width: 15px;
    height: 74px;
    float: left;
    background: url(asset_path("ax.gif")) no-repeat;
  }
  .LeftBotton {
    background-position: 0 0;
    margin: 58px 5px 0;
  }
  .RightBotton {
    background-position: 0 -100px;
    margin: 58px 1px 10px 5px;
  }
  .LeftBotton:hover {
    background-position: -20px 0;
  }
  .RightBotton:hover {
    background-position: -20px -100px;
  }
  .pl {
    img {
      display: block;
      cursor: pointer;
      border: none;
      margin: 6px auto 1px auto;
    }
    width: 167px;
    border: 1px solid #f3f3f3;
    float: left;
    float: left;
    text-align: center;
    line-height: 24px;
    h4 {
      font-size: 14px;
      margin: 0;
      color: #666;
    }
  }
  a.pl:hover {
    border: 1px solid #5dacec;
    color: #5dacec;
    background: #fff;
  }
}
/*活动*/

.activity {
  width: 900px;
  float: left;
  margin-top: 10px;
  ul li {
    list-style-type: disc;
    font-size: 9px;
  }
}

.activity_list {
  margin-top: 10px;
  width: 300px;
  float: left;
  a {
    font-size: 14px;
    line-height: 30px;
  }
}

/*代理公司滚动*/
#demo {
  background: #FFF;
  overflow:hidden;
  border: 1px dashed #CCC;
  width: 1170px;
  img {
    border: 3px solid #F2F2F2;
  }
}
#indemo {
  float: left;
  width: 800%;
}
#demo1 {
  float: left;
}
#demo1 img{
  float: left;
}

#demo2 {
  float: left;
} 
#demo2 img{
  float: left;
}


/*购房百科*/

.baike {
  ul li {
    list-style-type: disc;
    font-size: 9px;
  }
  a {
    font-size: 14px;
    line-height: 30px;
  }
}

.tool {
  border-top: 1px solid #eee;
  margin-top: 10px;
}

.yqlj a {
  margin-left: 30px;
  float: left;
}
