/ footer
.container.text-center.projectList.pb20.pt20.mt20{style: "border-top: 2px solid #2db8ad; border-bottom: 1px solid #ddd"}
  %a{href: "about#about", target: "_blank"} 关于馨窝
  %a |
  %a{href: "about#con", target: "_blank"}  联系我们
  %a |
  %a{href: "about#join", target: "_blank"}  招聘信息
  %a |
  %a{href: "about#law", target: "_blank"}  法律声明
.text-center.pt10.pb10
  ©2014  馨窝  版权所有
  %a{href: "http://www.miitbeian.gov.cn", target: "_blank"} 闽ICP备14006517号-2
  - unless Rails.env.development?
    %script{"data-turbolinks-eval" => "false", type: "text/javascript"}
      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000442418'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1000442418%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));

-if params[:controller]=="static_pages" or params[:controller] == "new_homes" or params[:controller] == "information"
  %a.bshareDiv{href: "http://www.bshare.cn/share"} 分享按钮
  %script{charset: "utf-8", src: "http://static.bshare.cn/b/buttonLite.js#uuid=&style=3&fs=4&textcolor=#fff&bgcolor=#F60&text=分享到", type: "text/javascript"}