/ footer
.text-center.projectList.pb5
  %a 关于美房
  %a |
  %a 联系我们
  %a |
  %a 网络营销
  %a |
  %a 招聘信息
  %a |
  %a 版权声明
  %a |
  %a 网站地图
.text-center
  ©2014  美房  版权所有
  %a{href: "http://www.miitbeian.gov.cn", target: "_blank"} 闽ICP备13021172号
