.container
  - if mobile?
    %div{style: "border: 1px solid rgb(221, 221, 221); height:0px"}
      %a{href:"about#join", target: "_blank"}
        = image_tag("swf/5.gif", alt: "")
  - else
    %div{style: "border: 1px solid rgb(221, 221, 221); height:80px"}
      %a{href:"about#join", target: "_blank"}
        %embed{height: "80px;",  src:"#{asset_path 'swf/4.swf'}", width: "1170px;",wmode:"opaque"}  
